
.hero-section {
    background: url('../images/background2.jpeg') no-repeat center center/cover;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section h1 {
    font-size: 4rem;
    z-index: 2;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-section p {
    font-size: 1.5rem;
    z-index: 2;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    padding: 12px 30px;
    font-size: 1.1rem;
    background-color: #17a2b8;
    border: none;
    z-index: 2;
    border-radius: 50px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #138496;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Sección de autos */
.gallery-section {
    padding: 60px 0;
}

.gallery-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.8rem;
    font-weight: bold;
    color: #17a2b8;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    text-align: center;
    padding: 30px;
}

.card-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
    margin-bottom: 15px;
}

.btn-card {
    background-color: #17a2b8;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-card:hover {
    background-color: #138496;
}

/* Footer elegante */
.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}

.footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer a {
    color: #17a2b8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #138496;
}

.footer p {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.footer .social-icons a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: white;
}

.footer .social-icons a:hover {
    color: #17a2b8;
}